{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6 {{ direction.panel }}">
                                <h5 class="card-category">{% trans "Imovie Website" %}</h5>
                                <h2 class="card-title">{% trans "Performance" %}</h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-toggle {{ direction.float }}" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                        <input type="radio" name="options" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">{% trans "Accounts" %}</span>
                                        <span class="d-block d-sm-none">
                                  <i class="tim-icons icon-single-02"></i>
                                </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                                        <input type="radio" class="d-none d-sm-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">{% trans "Reviews" %}</span>
                                        <span class="d-block d-sm-none">
                                  <i class="tim-icons icon-gift-2"></i>
                                </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="2">
                                        <input type="radio" class="d-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">{% trans "Posts" %}</span>
                                        <span class="d-block d-sm-none">
                                  <i class="tim-icons icon-tap-02"></i>
                                </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartBig1"></canvas>
                        </div>
                    </div>
                    <script>
                    type = ['primary', 'info', 'success', 'warning', 'danger'];

demo = {
  initPickColor: function() {
    $('.pick-class-label').click(function() {
      var new_class = $(this).attr('new-class');
      var old_class = $('#display-buttons').attr('data-class');
      var display_div = $('#display-buttons');
      if (display_div.length) {
        var display_buttons = display_div.find('.btn');
        display_buttons.removeClass(old_class);
        display_buttons.addClass(new_class);
        display_div.attr('data-class', new_class);
      }
    });
  },

  initDocChart: function() {
    chartColor = "#FFFFFF";

    // General configuration for the charts with Line gradientStroke
    gradientChartOptionsConfiguration = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },
      tooltips: {
        bodySpacing: 4,
        mode: "nearest",
        intersect: 0,
        position: "nearest",
        xPadding: 10,
        yPadding: 10,
        caretPadding: 10
      },
      responsive: true,
      scales: {
        yAxes: [{
          display: 0,
          gridLines: 0,
          ticks: {
            display: false
          },
          gridLines: {
            zeroLineColor: "transparent",
            drawTicks: false,
            display: false,
            drawBorder: false
          }
        }],
        xAxes: [{
          display: 0,
          gridLines: 0,
          ticks: {
            display: false
          },
          gridLines: {
            zeroLineColor: "transparent",
            drawTicks: false,
            display: false,
            drawBorder: false
          }
        }]
      },
      layout: {
        padding: {
          left: 0,
          right: 0,
          top: 15,
          bottom: 15
        }
      }
    };

    ctx = document.getElementById('lineChartExample').getContext("2d");

    gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
    gradientStroke.addColorStop(0, '#80b6f4');
    gradientStroke.addColorStop(1, chartColor);

    gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
    gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
    gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");

    myChart = new Chart(ctx, {
      type: 'line',
      responsive: true,
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
        datasets: [{
          label: "Active Users",
          borderColor: "#f96332",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#f96332",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          fill: true,
          backgroundColor: gradientFill,
          borderWidth: 2,
          data: [542, 480, 430, 550, 530, 453, 380]
        }]
      },
      options: gradientChartOptionsConfiguration
    });
  },

  initDashboardPageCharts: function() {

    gradientChartOptionsConfigurationWithTooltipBlue = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 50,
            padding: 20,
            fontColor: "#2380f7"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#2380f7"
          }
        }]
      }
    };

    gradientChartOptionsConfigurationWithTooltipPurple = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 20,
            padding: 10,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };

    gradientChartOptionsConfigurationWithTooltipOrange = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 50,
            padding: 20,
            fontColor: "#ff8a76"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(220,53,69,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#ff8a76"
          }
        }]
      }
    };

    gradientChartOptionsConfigurationWithTooltipGreen = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 50,
            padding: 20,
            fontColor: "#9e9e9e"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(0,242,195,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9e9e9e"
          }
        }]
      }
    };


    gradientBarChartConfiguration = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{

          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 20,
            padding: 20,
            fontColor: "#9e9e9e"
          }
        }],

        xAxes: [{

          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9e9e9e"
          }
        }]
      }
    };

    var ctx_movie_rate = document.getElementById("chartLinePurple").getContext("2d");

    var gradientStroke = ctx_movie_rate.createLinearGradient(0, 230, 0, 50);

    gradientStroke.addColorStop(1, 'rgba(72,72,176,0.2)');
    gradientStroke.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); //purple colors



    var data_movie_rate = {
      labels: ['Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6'],
      datasets: [{
        label: "Rates",
        fill: true,
        backgroundColor: gradientStroke,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: [10, 30, 20, 25, 22, 80],
      }]
    };

    var chart_movie_rate = new Chart(ctx_movie_rate, {
      type: 'line',
      data: data_movie_rate,
      options: gradientChartOptionsConfigurationWithTooltipPurple
    });

    //load this
    load_chart_movie_rate(chart_movie_rate);

    var ctxGreen = document.getElementById("chartLineGreen").getContext("2d");

    //var gradientStroke = ctxGreen.createLinearGradient(0, 230, 0, 50);

    //gradientStroke.addColorStop(1, 'rgba(66,134,121,0.15)');
    //gradientStroke.addColorStop(0.4, 'rgba(66,134,121,0.0)'); //green colors
    //gradientStroke.addColorStop(0, 'rgba(66,134,121,0)'); //green colors

    
    const data = {
            labels: [
              'Like',
              'Reply',
              'Report'
            ],
            datasets: [{
              label: 'Total',
              data: [30, 15, 5],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(75, 192, 192)',
                'rgb(255, 205, 86)',
              ]
            }]
          };

            
    var myChart_reported =  new Chart(ctxGreen, {
      data: data,
      type: 'polarArea',
      options: {}
    });

    // load final 
    load_chart_post(myChart_reported);





    var chart_labels = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var chart_data = [0,0,0,0,0,0,0,0,0,0,0,0];


      var ctx = document.getElementById("chartBig1").getContext('2d');

      var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);


      gradientStroke.addColorStop(1, 'rgba(72,72,176,0.1)');
      gradientStroke.addColorStop(0.4, 'rgba(72,72,176,0.0)');
      gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); // purple colors
      var config = {
        type: 'line',
        data: {
          labels: chart_labels,
          datasets: [{
            label: "Total Users Register",
            fill: true,
            backgroundColor: gradientStroke,
            borderColor: '#d346b1',
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: '#d346b1',
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: '#d346b1',
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: chart_data,
          }]
        },
        options: gradientChartOptionsConfigurationWithTooltipPurple
      };
      var myChartData = new Chart(ctx, config);
      $("#0").click(function() {
        loadChart(myChartData, 'chart1');
      });
      $("#1").click(function() {
        loadChart(myChartData, 'chart2');
      });

      $("#2").click(function() {
        loadChart(myChartData, 'chart3');
      });

      loadChart(myChartData, 'chart1');


    var ctx_user_activity = document.getElementById("CountryChart").getContext("2d");

    var gradientStroke = ctx_user_activity.createLinearGradient(0, 230, 0, 50);

    gradientStroke.addColorStop(1, 'rgba(29,140,248,0.2)');
    gradientStroke.addColorStop(0.4, 'rgba(29,140,248,0.0)');
    gradientStroke.addColorStop(0, 'rgba(29,140,248,0)'); 

    // user activity
    var chart_user_activity = new Chart(ctx_user_activity, {
      type: 'bar',
      responsive: true,
      legend: {
        display: false
      },
      data: {
        labels: ['m1', 'm2', 'm3', 'm4', 'm5', 'm6'],
        datasets: [{
          label: "Acivitys",
          fill: true,
          backgroundColor: gradientStroke,
          hoverBackgroundColor: gradientStroke,
          borderColor: '#1f8ef1',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          data: [0, 0, 0, 0, 0, 0],
        }]
      },
      options: gradientBarChartConfiguration
    });
    //load data from here

    load_chart_user(chart_user_activity);



  },

}
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 {{ direction.panel }}">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">{% trans "Total Rates " %}</h5>
                        <h3 class="card-title" id='total_rates'><i class="tim-icons icon-bell-55 text-primary"></i> 100</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLinePurple"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 {{ direction.panel }}">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">{% trans "Total Activitys" %}</h5>
                        <h3 class="card-title" id='count_activity'><i class="tim-icons icon-delivery-fast text-info"></i> </h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="CountryChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 {{ direction.panel }}">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">{% trans "Total Posts " %}</h5>
                        <h3 class="card-title" id="total_post"><i class="tim-icons icon-send text-success"></i> </h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLineGreen"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="card card-tasks {{ direction.reverse_panel }}">
                    <div class="card-header {{ direction.panel }}">
                        <h6 class="title d-inline">{% trans 'Recent actions' %}</h6>
                        <p class="card-category d-inline">{% trans 'My actions' %}</p>
                        {% load log %}
                        {% get_admin_log 10 as admin_log for_user user %}
                    </div>
                    <div class="card-body">
                        {% if admin_log %}
                            <div class="table-full-width table-responsive">
                                <table class="table">
                                    <tbody>
                                    {% for entry in admin_log %}
                                        <tr>
                                            <td class="text-center">
                                                {% if entry.is_addition %}
                                                    <span class="fa fa-plus-circle text-success"></span>
                                                {% endif %}
                                                {% if entry.is_change %}
                                                    <span class="fa fa-edit text-warning"></span>
                                                {% endif %}
                                                {% if entry.is_deletion %}
                                                    <span class="fa fa-trash text-danger"></span>
                                                {% endif %}
                                            </td>
                                            <td class="{{ direction.panel }}">
                                                <p class="title">{{ entry.object_repr }}</p>
                                                {% if entry.content_type %}
                                                    <p class="text-muted">
                                                        {% filter capfirst %}{{ entry.content_type }}{% endfilter %}</p>
                                                {% else %}
                                                    <p class="text-muted">{% trans 'Unknown content' %}</p>
                                                {% endif %}
                                            </td>
                                            <td class="td-actions">
                                                <a href="{{ entry.get_admin_url }}" type="button" rel="tooltip" title=""
                                                   class="btn btn-link"
                                                   data-original-title="{{ entry.object_repr }}">
                                                    <i class="tim-icons icon-settings"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>{% trans 'None available' %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <script>
    
    function loadChart(myChartData, type){
                $.ajax({
                    url : "/user/getdatachart1/",
                    type: 'GET',
                    data : {'type':type},
                    datatype: 'json',
                }).done(function (message) {
                        if(message.mess == 'sucess'){
                          // Load new data into the chart
                          myChartData.config.data.datasets[0].data = message.data;
                          myChartData.config.data.datasets[0].label = message.label;
                          myChartData.update();

                        }
                    })
    };

    function load_chart_user(chart){
              $.ajax({
                    url : "/user/get_chart_user/",
                    type: 'GET',
                }).done(function (message) {
                        if(message.mess == 'success'){
                          console.log('hello');
                          // Load new data into the chart
                          $('#count_activity').text(message.total);
                          chart.data.labels = message.labels;
                          chart.data.datasets[0].data = message.data;
                          chart.update();

                        }
                    })
    };

   
    function load_chart_movie_rate(chart){

      $.ajax({
                    url : "/movie/get_chart_movie_rate/",
                    type: 'GET',
                }).done(function (message) {
                        if(message.mess == 'success'){
                          console.log('hello');
                          // Load new data into the chart
                          $('#total_rates').text(message.total_rates);
                          chart.data.labels = message.labels;
                          chart.data.datasets[0].data = message.data;
                          chart.update();

                        }
                    })
    };

    function load_chart_post(chart){
      $.ajax({
                    url : "/user/get_chart_post/",
                    type: 'GET',
                }).done(function (message) {
                        if(message.mess == 'success'){
                          console.log('hello');
                          // Load new data into the chart
                          $('#total_post').text(message.total);
                          chart.data.datasets[0].data = message.data;
                          chart.update();

                        }
                    })

    }

              

    
    

    
    
    
    
    
    
    </script>
{% endblock %}

{% block extrascript %}{% endblock %}

