{% extends "base.html" %}
{% block mainbody %}
{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% comment %} <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/comunity.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"/>

<style>
.img-xs {
    width: 37px;
    height: 37px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;padding:1.25rem}
.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}

.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem}.card>hr{margin-right:0;margin-left:0}.card>.list-group:first-child .list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem}.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.card-body{-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;padding:1.25rem}.card-title{margin-bottom:.75rem}.card-subtitle{margin-top:-.375rem;margin-bottom:0}.card-text:last-child{margin-bottom:0}.card-link:hover{text-decoration:none}.card-link+.card-link{margin-left:1.25rem}.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125)}.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0}.card-header+.list-group .list-group-item:first-child{border-top:0}.card-footer{padding:.75rem 1.25rem;background-color:rgba(0,0,0,.03);border-top:1px solid rgba(0,0,0,.125)}.card-footer:last-child{border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)}.card-header-tabs{margin-right:-.625rem;margin-bottom:-.75rem;margin-left:-.625rem;border-bottom:0}.card-header-pills{margin-right:-.625rem;margin-left:-.625rem}.card-img-overlay{position:absolute;top:0;right:0;bottom:0;left:0;padding:1.25rem}.card-img,.card-img-bottom,.card-img-top{-ms-flex-negative:0;flex-shrink:0;width:100%}.card-img,.card-img-top{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px)}.card-img,.card-img-bottom{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px)}.card-deck .card{margin-bottom:15px}@media (min-width:576px){.card-deck{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap;margin-right:-15px;margin-left:-15px}.card-deck .card{-ms-flex:1 0 0%;flex:1 0 0%;margin-right:15px;margin-bottom:0;margin-left:15px}}.card-group>.card{margin-bottom:15px}@media (min-width:576px){.card-group{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap}.card-group>.card{-ms-flex:1 0 0%;flex:1 0 0%;margin-bottom:0}.card-group>.card+.card{margin-left:0;border-left:0}.card-group>.card:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0}.card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top{border-top-right-radius:0}.card-group>.card:not(:last-child) .card-footer,.card-group>.card:not(:last-child) .card-img-bottom{border-bottom-right-radius:0}.card-group>.card:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}.card-group>.card:not(:first-child) .card-header,.card-group>.card:not(:first-child) .card-img-top{border-top-left-radius:0}.card-group>.card:not(:first-child) .card-footer,.card-group>.card:not(:first-child) .card-img-bottom{border-bottom-left-radius:0}}.card-columns .card{margin-bottom:.75rem}@media (min-width:576px){.card-columns{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:1.25rem;-moz-column-gap:1.25rem;column-gap:1.25rem;orphans:1;widows:1}.card-columns .card{display:inline-block;width:100%}}.accordion>.card{overflow:hidden}.accordion>.card:not(:last-of-type){border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.accordion>.card:not(:first-of-type){border-top-left-radius:0;border-top-right-radius:0}
.d-none{display:none!important}
.d-xl-block{display:block!important}
.rounded-sm{border-radius:.2rem!important}.rounded{border-radius:.25rem!important}.rounded-top{border-top-left-radius:.25rem!important;border-top-right-radius:.25rem!important}.rounded-right{border-top-right-radius:.25rem!important;border-bottom-right-radius:.25rem!important}.rounded-bottom{border-bottom-right-radius:.25rem!important;border-bottom-left-radius:.25rem!important}.rounded-left{border-top-left-radius:.25rem!important;border-bottom-left-radius:.25rem!important}.rounded-lg{border-radius:.3rem!important}.rounded-circle{border-radius:50%!important}.rounded-pill{border-radius:50rem!important}.rounded-0{border-radius:0!important}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-4,.col-5,.col-6,.col-7,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}
.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
.ml-2,.mx-2{margin-left:.5rem!important}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important}
.mb-2,.my-2{margin-bottom:.5rem!important}
.pb-2,.py-2{padding-bottom:.5rem!important}

</style>
<div class="container" id="container">
    <div class="profile-page tx-13">
        <div class="row profile-body">
            <div class="col-md-7 col-md-offset-2">
                <div class="panel">
                    <div class="panel-body">
                        <textarea id="post_content" class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                        <div class="mar-top clearfix">
                            <button onclick="post_now()" class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Post</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-body">
                    <!-- Timeline -->
                    <!--===================================================-->
                    <div class="timeline">
            
                        <!-- Timeline header -->
                        <div class="timeline-header">
                            <div class="timeline-header-title bg-success">Now</div>
                        </div>

                        
                        <div id="first" class="timeline-entry">
                        </div>
                        
                        {% for activity in activitys %}

                            {% if activity.type == 1 %}
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="timeline-time">{{activity.get_date}}</div>
                                </div>
                                <div class="timeline-label">
                                    <img class="img-xs img-circle" src="{{activity.user.profile.profile_picture.url}}" alt="Profile picture">
                                    <a href="" class="btn-link text-semibold">{{activity.user.username}}</a> followed <a href="{{activity.follow.user2.profile.get_absolute_url}}"> {{activity.follow.user2.username}}.</a>
                                </div>
                            </div>
                            {% endif %}

                            {% if activity.type == 2 %}
                                <div id="post" class="timeline-entry">
                                    <div class="timeline-stat">
                                        <div class="timeline-icon"><img src="{{activity.user.profile.profile_picture.url}}" alt="Profile picture">
                                        </div>
                                        <div class="timeline-time">{{activity.get_date}}</div>
                                    </div>
                                    <div class="timeline-label">
                                        {% if activity.user.id !=  activity.post.to_user.id %}
                                            <p class="mar-no pad-btm"><a href="{{activity.user.profile.get_absolute_url}}" class="btn-link text-semibold">{{activity.user.username}}</a> posted on <a href="{{activity.post.to_user.profile.get_absolute_url}}">{{activity.post.to_user.username}}</a>
                                            </p>
                                            <blockquote class="bq-sm bq-open">{{activity.post.content}}</blockquote>
                                        {% else %}
                                            <p class="mar-no pad-btm"><a href="{{activity.user.profile.get_absolute_url}}" class="btn-link text-semibold">{{activity.user.username}}</a> posted on his wall
                                            </p>
                                            <blockquote class="bq-sm bq-open">{{activity.post.content}}</blockquote>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if activity.type == 3 %}
                                <div class="timeline-entry">
                                    <div class="timeline-stat">
                                        <div class="timeline-icon"><img src="{{activity.user.profile.profile_picture.url}}" alt="Profile picture">
                                        </div>
                                        <div class="timeline-time">{{activity.get_date}}</div>
                                    </div>
                                    <div class="timeline-label">
                                        <p class="mar-no pad-btm"><a href="{{activity.user.profile.get_absolute_url}}" class="btn-link text-semibold">{{activity.user.username}}</a> reviewed on  <a href="/movie/movie_detail/{{activity.review.movie.movieid }}">{{activity.review.movie.title}}</a>
                                        </p>
                                        <blockquote class="bq-sm bq-open">{{activity.review.review}}</blockquote>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                        
                        
            
            
                    </div>
                    <!--===================================================-->
                    <!-- End Timeline -->
                </div>
            </div>
            <script>
                function post_now() {
                    var content = $('#post_content').val();
                    console.log(content);

                    if (content == '') {
                        Swal.fire('Post cannot be empty');
                        return
                    }
                    $.ajax({
                        type: "POST",
                        url: "{% url 'postnow' %}",
                        data: {content: content},
                        processData: "application/json",
                        dataType: "json",
                    }).done(function (data) {
                        console.log(data);
                        if(data.mess=='oke'){
                            $('#first').prepend(
                                '<div class="timeline-stat">'+
                                '<div class="timeline-icon"><img src="{{request.user.profile.profile_picture.url}}" alt="Profile picture">'+
                                '</div>'+
                                '<div class="timeline-time">just now</div>'+
                                '</div>'+
                                '<div class="timeline-label">'+
                                '<p class="mar-no pad-btm"><a href="{{request.user.profile.get_absolute_url}}" class="btn-link text-semibold">{{request.user.username}}</a> posted on his wall'+
                                '</p>'+
                                '<blockquote class="bq-sm bq-open">'+data.content + '</blockquote>'+
                                '</div>'
                            ); 
                            $('#post_content').val('');
                        }
                    });
                }

            </script>
            <!-- right wrapper start -->
            <div class="d-none d-xl-block col-xl-3 right-wrapper" >
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h4 style="text-align: center;" >Suggestions for you</h4>
                                <br>
                                {% for u1 in recommend_follow %}
                                    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                        <div class="d-flex align-items-center hover-pointer">
                                            <img class="img-xs rounded-circle" src="{{u1.profile.profile_picture.url}}" alt="">
                                            <div class="ml-2">
                                                <a href="{{u1.profile.get_absolute_url}}" >{{u1.username}}</a>
                                                <p class="tx-11 text-muted">Follow you</p>
                                            </div>
                                        </div>
                                        <button onclick="runFollow('{{u1.id}}')" class="btn btn-icon">
                                            <svg id="followNow{{u1.id}}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus" data-toggle="tooltip" title="" data-original-title="Connect">
                                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="8.5" cy="7" r="4"></circle>
                                                <line x1="20" y1="8" x2="20" y2="14"></line>
                                                <line x1="23" y1="11" x2="17" y2="11"></line>
                                            </svg>
                                            <svg id="justFollow{{u1.id}}" hidden xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                                            </svg>
                                        </button>
                                        <script>
                                            function runFollow(id){
                                                var id1 =  '#followNow' + id;
                                                var id2 =  '#justFollow' + id;
                                                $(id1).toggle();
                                                $(id2).toggle();

                                                /// send follow here now !!!!!!

                                                
                                            }
                                        </script>
                                    </div>
                                {% endfor %}
                                {% for u1 in recommend_random %}
                                    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                        <div class="d-flex align-items-center hover-pointer">
                                            <img class="img-xs rounded-circle" src="{{u1.profile.profile_picture.url}}" alt="">
                                            <div class="ml-2">
                                                <a href="{{u1.profile.get_absolute_url}}" >{{u1.username}}</a>
                                                <p class="tx-11 text-muted">Recommend </p>
                                            </div>
                                        </div>
                                        <button onclick="runFollow('{{u1.id}}')" class="btn btn-icon">
                                            <svg id="followNow{{u1.id}}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus" data-toggle="tooltip" title="" data-original-title="Connect">
                                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="8.5" cy="7" r="4"></circle>
                                                <line x1="20" y1="8" x2="20" y2="14"></line>
                                                <line x1="23" y1="11" x2="17" y2="11"></line>
                                            </svg>
                                            <svg id="justFollow{{u1.id}}" hidden xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                                            </svg>
                                        </button>
                                        <script>
                                            function runFollow(id){
                                                var id1 =  '#followNow' + id;
                                                var id2 =  '#justFollow' + id;
                                                $(id1).toggle();
                                                $(id2).toggle();

                                                /// send follow here now !!!!!!
                                                $.ajax({
                                                url: "{% url 'follow-now' %}",
                                                type: 'POST',
                                                datatype: 'json',
                                                processData: "application/json",
                                                data: {
                                                    userID: id,
                                                },
                                                
                                                }).done(function (data){
                                                    console.log(data.mess);
                                                });


                                                
                                            }
                                        </script>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end right wrapper -->
        </div>
    </div>
</div>

{% endblock %}